<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <!-- Главная — корень / -->
        <a class="navbar-brand" href="/">Развитие LLM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <!-- Первый этап: главная -->
                    <a class="nav-link" href="/">Первый этап</a>
                </li>
                <li class="nav-item">
                    <!-- Второй этап -->
                    <a class="nav-link" href="/stage2/">Второй этап</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stage3/">Третий этап</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stage4/">Четвертый этап</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news/">Новости ИИ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news/create_news/">Добавить новость</a>
                </li>
            </ul>
        </div>
    </div>
</nav>